@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.woff') format('woff'),
    url('ProximaNova-Bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('ProximaNova-Semibold.eot');
    src: url('ProximaNova-Semibold.woff') format('woff'),
    url('ProximaNova-Semibold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

body{
    color: #fff;
    margin: 0;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7778;
    text-align: left;
    background-color: transparent;
}
body::selection {
    color: #fff;
    background: #0f70e7;
}

a:active, a:focus {
    text-decoration: underline;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.salt-btn{
    font-family: 'ProximaNova-Bold', sans-serif;
    background-color: #FF8B00;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.content{
    position: relative;
    overflow: hidden;
}

/*HEADER*/

.header{
    width: 100%;
    height: 815px;
    box-sizing: content-box;
    position: relative;
    background-image: url("../images/overlay.png");
    background-size: cover;
}

.header:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 200px solid #fff;
    border-right: 50vw solid transparent;
}

.header:after{
    content: "";
    position: absolute;
    left: 50vw;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 200px solid #fff;
    border-left: 50vw solid transparent;
}

.header-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 15%;
}

/*Header menu*/

.header-top__toggle{
    display: none;
}

.mob-hidden-menu {
    display: none !important;
}

.mob-visible-menu{
    display: block !important;
}

.header-top__menu{
    width: 50%;
}

.header-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-menu__trio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    margin-right: 5px;
}

.header-menu__trio:last-child{
    margin-right: 0;
}

.trio__item{
    font-family: 'ProximaNova-Bold', sans-serif;
    margin-right: 5px;
}

.trio__item:last-child{
    margin-right: 0;
}

.menu-link{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.menu-link:focus {
    text-decoration: none;
}

.menu-link:hover, .menu-link.active, .menu-link:focus{
    padding-bottom: 7px;
    border-bottom: 3px solid #FF8B00;
    text-decoration: none;
}

/*SLIDER*/

.header__slider{
    padding: 50px 15%;

}

.h-slider{
    height: auto;
    max-height: 400px;
    padding: 50px 7%;
    box-sizing: border-box;
}

.slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide__content{
    width: 65%;
}

.slide-content__h1{
    font-family: 'ProximaNova-Bold', sans-serif;
    margin: 0;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 14px;
}

.slide-content__text{
    font-family: 'ProximaNova-Semibold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.1;
    overflow-y: hidden;
    max-height: 135px;
}

.slide-content__btn{
    margin-top: 40px;
}

.slide__img img, .owl-carousel .owl-item img{
    width: 149px;
}

.owl-theme .owl-dots .owl-dot{
    display: block;
    margin-bottom: 7px;
}

.owl-theme .owl-nav.disabled + .owl-dots{
    position: absolute;
    right: -150px;
    top: 25%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 17px;
    height: 19px;
    background: transparent;
    background-image: url("../images/polygon4.png");
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width: 19px;
    height: 22px;
    background: transparent;
    background-image: url("../images/polygon1.png");
}


/*Header angle*/

.header__angle{
    width: 100%;
    height: 25vw;
    position: relative;
}

.more-button{
    position: absolute;
    left: calc(50% - 30px);
    top: -16px;
}

.more-button__text{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: -24px;
    left: -30px;
}

.more-button__polygon{
    width: 62px;
}

.more-button__arrow{
    width: 32px;
    top: 55px;
    position: absolute;
    left: 15px;
}

/*CONTENT PAGE*/

.content__page{
    width: 100%;
    height: auto;
    margin-top: 9vw;
}

/*top numbers*/

.main__numbers{
    margin-bottom: 30px;
}

.top-numbers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    text-align: center;
    font-family: 'ProximaNova-Bold', sans-serif;
    padding: 0 20% 100px 20%;
}

.top-numbers__col{
    color: #7050E5;
    margin-right: 15px;
    max-width: 215px;
    box-sizing: border-box;
}

.top-numbers__col:last-child{
    margin-right: 0;
}

.top-number{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 56px;
    font-weight: bold;
}

.top-number-comment{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/*WHAT WE DO*/

.main__doing{
    background-color: #F8F8F8;
    padding: 130px 20%;
    position: relative;
    color: #7050E5;
}

.square-border{
    position: absolute;
    right: -8%;
    top: -8%;
    width: 36px;
    height: 36px;
    border-top: 12px solid #FF8B00;
    border-right: 12px solid #FF8B00;
}

.doing-header{
    font-family: 'ProximaNova-Bold', sans-serif;
    position: relative;
    color: #7050E5;
    font-size: 56px;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

.activities{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-top: 10px;
}

.activities__item{
    max-width: 265px;
    margin-top: 40px;
}

.activity__img{
    text-align: center;
}

.activity__head{
    font-family: 'ProximaNova-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0;
}

.activity__text{
    color: #878787;
    font-size: 14px;
    line-height: 1.7;
}

/*VIDEO BLOCK*/

.video-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10%;
}

.video-block__comment{
    flex: 0 0 50%;
    min-width: 130px;
}

.video-comment{
    box-sizing: border-box;
    padding-right: 10%;
}

.video-comment__header{
    font-family: 'ProximaNova-Bold', sans-serif;
    color: #7050E5;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: normal;
}

.video-comment__text{
    color: #878787;
    font-size: 12px;
}

.video-comment__button{
    margin-top: 20px;
}

.video-btn{
    padding: 20px 48px;
}

.video-block__player video{
    width: 100%;
}

/*FOOTER*/

.footer{
    width: 100%;
}

.footer__banner{
    background-image: url("../images/overlay.png");
    background-size: 100%;
    background-position: center;
    height: auto;
    padding: 0 15%;
}

.footer-banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding-top: 78px;
    padding-bottom: 78px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-banner__text{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

/*footer base*/

.footer__base{
    background-color: #363636;
    width: 100%;
    height: auto;
    position: relative;
}

.footer-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 5% 15%;
}

.footer-content__twit{
    margin-right: 20px;
    margin-bottom: 15px;
}

.footer-cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-cols__col{
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.footer-cols__col:last-child{
    margin-right: 0;
}

.footer-cols__col h1{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: #FF8B00;
}

.footer-cols__col h1:before{
    content: url("../images/polygon3.png");
    margin-right: 5px;
}

.footer-cols__col .item span {
    margin-left: 20px;
}

.footer-logo{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 75px;
}

.footer-logo__img{
    width: 100%;
}

/*footer bottom line*/

.footer__bottom{
    font-family: 'Raleway', sans-serif;
    background-color: #252525;
    color: #7E7E7E;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

.polygon3{
    margin: 0 5px;
}


/*ADAPTIVE DESIGN*/

@media only screen and (max-width: 1200px){

    .footer-content {
        padding: 5% 10%;
    }

    .header-top{
        padding: 30px 10%;
    }

    .top-numbers {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .top-numbers__col {
        margin-left: 15px;
    }

    .top-numbers__col:last-child {
        margin-right: 15px;
    }
}


/*Desctop*/
@media only screen and (max-width: 991px){

    .slide-content__h1 {
        font-size: 40px;
        line-height: 1;
    }

    .slide-content__text {
        line-height: 1.8;
    }

    .header-top__menu.header-menu{
        -webkit-box-flex: 0.7;
        -ms-flex-positive: 0.7;
        flex-grow: 0.7;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        right: -110px;
    }

   .more-button__text {
        top: 0;
    }

    .activities {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .activities__item {
        margin-right: 10px;
        margin-left: 10px;
    }

}

/*Small devices, Tablets*/
@media only screen and (max-width: 767px){

    .header {
        height: 770px;
    }

    .header::before, .header::after {
        border-bottom: 160px solid #fff;
    }

    .more-button {
        top: 20px;
    }

    .header__slider {
        padding: 30px 5%;
    }

    .h-slider {
        padding: 0 5%;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        right: -10px;
    }

    .slide__img img, .owl-carousel .owl-item img {
        width: 100px;
    }

    .slide-content__h1 {
        font-size: 36px;
        line-height: 1;
    }

    .top-numbers{
        padding-bottom: 50px;
    }

    .main__doing {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .video-block {
        display: block;
    }

    .video-block__player{
        margin-top: 15px;
    }

    .footer-banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 600px){

    .header::before, .header::after {
        border-bottom: 120px solid #fff;
    }

    .doing-header {
        font-size: 36px;
    }

    .footer-banner {
        display: block;
    }

    .footer-banner__text,
    .footer-banner__button{
        text-align: center;
    }
}

/*Extra small devices, phones*/
@media only screen and (max-width: 480px){

    .header {
        height: auto;
    }

    .header-top__toggle{
        display: block;
    }

    .header-top__menu{
        display: none;
    }

    .mob-menu__item{
        width: 100%;
        background-color: #FF8B00;
        border-top: 1px solid #fff;
        padding: 10px;
    }

    .mob-menu__item:last-child{
        border-bottom: 1px solid #fff;
    }

    .mob-menu-link{
        color: #fff;
        text-decoration: none;
    }

    .mob-menu-link:active, .mob-menu-link:focus, .mob-menu-link:hover{
        font-weight: bold;
    }

    .header__angle {
        height: 40vw;
    }

    .header::before, .header::after {
        border-bottom: 90px solid #fff;
    }

    .slide__content {
        width: 80%;
    }

    .slide-content__h1 {
        font-size: 24px;
        line-height: 1;
    }

    .slide-content__text {
        font-size: 14px;
        line-height: 1.5;
    }

    .slide__img img, .owl-carousel .owl-item img {
        width: 50px;
        margin-right: 10px;
    }

    .doing-header {
        font-size: 32px;
    }

    .footer-logo{
        width: 50px;
    }
}

@media only screen and (min-width: 481px){
    .header-top__menu.header-menu {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .header__mob-menu{
        display: none !important;
    }
}

/*phones*/
@media only screen and (max-width: 320px){

    .header::before, .header::after {
        border-bottom: 60px solid #fff;
    }

    .header-top {
        display: block;
    }

    .slide__img img, .owl-carousel .owl-item img {
        width: 30px;
        margin-right: 10px;
    }


    .header__angle {
        height: 55vw;
    }

    .content__page {
        margin-top: 0;
    }

    .top-number {
        font-size: 36px;
    }

    .doing-header {
        font-size: 24px;
    }

    .square-border {
        width: 24px;
        height: 24px;
        border-top: 6px solid #FF8B00;
        border-right: 6px solid #FF8B00;
    }

    .activity__img img{
        max-width: 150px;
    }

    .footer-logo {
        width: 30px;
        position: relative;
        right: -80%;
        bottom: 0;
    }
}


@media only screen and (max-width: 250px){
    .header::before, .header::after {
        border-bottom: 40px solid #fff;
    }

    .header-top__logo img{
        width: 50px;
    }

    .slide-content__h1 {
        font-size: 16px;
    }

    .slide-content__text {
        font-weight: normal;
    }

    .slide__img{
        position: relative;
    }

    .slide__img img, .owl-carousel .owl-item img {
        top: -100px;
        position: relative;
    }

    .header__angle {
        height: 65vw;
    }

    .doing-header {
        font-size: 16px;
        line-height: 1;
    }

    .square-border {
        right: -20px;
        top: -20px;
    }

    .footer-content{
        padding-left: 5%;
    }

    .footer-cols__col .item span {
        margin-left: 5px;
    }
}


@media only screen and (max-width: 200px){

    .more-button {
        top: 0;
    }

    .more-button__arrow {
        top: 50px;
    }

    .more-button__text {
        font-size: 12px;
        left: -16px;
    }

    .top-numbers {
        padding-bottom: 20px;
    }

    .top-number {
        font-size: 24px;
    }

    .activity__img img {
        max-width: 110px;
    }

    .activity__head {
        font-size: 14px;
    }

    .video-comment__header {
        font-size: 24px;
    }

    .timeline-Widget {
        max-width: 140px !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    .more-button{
        left: calc(50% - 23px);
    }
}

@supports (-ms-ime-align:auto) {
    /*EDGE CSS styles*/

    .more-button{
        left: calc(50% - 23px);
    }
}